<h2>Accounts From</h2>
<ul class="accountsFrom">
    <li *ngFor="let account of accounts" (click)="onSelectFrom(account)">
        <span class="badge">Account {{account.id}}</span> ${{account.balance}}
    </li>
</ul>

<h2>Accounts To</h2>
<ul class="accountsTo">
    <li *ngFor="let account of accounts" (click)="onSelectTo(account)">
        <span class="badge">Account {{account.id}}</span> ${{account.balance}}
    </li>
</ul>


Transfer amount: $<input [(ngModel)]="amountToTransfer" placeholder="enter amount">
<br>
<br>
<br>
<div>
    Transfer ${{amountToTransfer}} from account {{fromId}} to account {{toId}}
</div>
<button class="transfer" (click)="transfer()">transfer</button>