---

spring:
  profiles: dev
  datasource:
    url: jdbc:mysql://financialmanagerapp.c2vqje9fzrdj.us-east-2.rds.amazonaws.com:3306/financialManagerAppDB
    username: MasterAccount99
    password: rootroot
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
server:
  port: 5000


---

spring:
  profiles: local
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
