<p>
    I am the deposit component,
    one potential output of the router.<br>
    'Inherits' visibility from the router-output component.
    The below elements are placeholders.
</p>
git status

    <div class="row">
        <div class="col=sm">
            Select Account:
            <select [(ngModel)]="currentAccountTo" (ngModelChange)="setCurrentAccountTo(currentAccountTo)">
                <option *ngFor="let acc of accounts" [ngValue]="acc">
                    {{acc.id}}, ${{acc.balance}}
                </option>
            </select>
        </div>
    </div>
<div>

    <p>
<!--        <input style="border-radius: .25em;" name="depositAmount="deposit type="number" placeholder="enter amount" class="form-control form-control-lg">-->
        <input type="text" name="value" placeholder="enter amount" id='amount'/>
        <input onclick="depositFunds()" type="button" value='Make_Deposit'/>
    </p>
</div>
