<div style="text-align:center">
  <nav *ngIf="loggedIn">
      <a routerLink='/deposit' class="nav">Deposit</a>
      <a routerLink='/withdraw' class="nav">Withdraw</a>
      <a routerLink='/addaccount' class="nav">Add Account</a>
      <a routerLink='/deleteaccount' class="nav">Delete Account</a>
      <a routerLink='/transactions' class="nav">Transactions</a>
  </nav>
  <h1>
    {{ title }}
  </h1>
  
  
  <p>I am the root component and I should have stuff like a nav bar. I'll keep track of who's logged in.</p>
  <p>The current user first name is: {{loggedIn ? currentUser.firstName : 'none'}} (user object: {{loggedIn ? currentUser : 'none'}})</p>
  <p>Logged in? : {{loggedIn}}</p>

  <button (click)="toggleLogin()">Toggle Login</button>
</div>
<app-login [loginStatus]='loggedIn'></app-login>
<app-create-user [loginStatus]='loggedIn'></app-create-user>
<router-outlet *ngIf='loggedIn'>
  <p>
    I am the router outlet. My contents (below) should 
    only be displayed when the user is logged in.
  </p>
</router-outlet>