
<!-- <p *ngIf='!loggedIn'> 
    I am the login component. I should only be visible if you aren't logged <br>
    Logging on successfully should hide this dialog. <br>
    Someday I'll have forms and buttons that work!
</p> -->
<h3>Login</h3>
  <form>
    <input id="username" type="text" name="email" size="35" placeholder="Username"><br>
    <input id="password" type="password" name="password" size="35" placeholder="Password"><br>
  </form>
<button (click)="login()" alt="Submit" width="48" height="48">Submit</button>
<h1 *ngIf="userService.currentUser">Yo:</h1>



