<p *ngIf='!loggedIn'>
    I am the login component. I should only be visible if you aren't logged <br>
    Logging on successfully should hide this dialog. <br>
    Someday I'll have forms and buttons that work!
</p>



  <!-- <form #f="ngForm"> -->
    <!-- Email: <input type="email" ngModel name="email" size="35" required email>
    Password: <input type="text" ngModel name="Password" size="35"> -->
    <!-- <button [disabled]="!f.valid">Submit</button>
    <p>Form State: {{f.valid?'VALID':'INVALID'}}</p> -->
  <!-- </form> -->
  



  <form>
    Email:    <input type="email" name="email" size="35"><br>
    Password: <input type="text" name="Password" size="35"><br>
    <input type="image" src="/Documents/GitHub/FullStack.MicroWebApplication-Server/money-app-better/src/app/img_submit.png" alt="Submit" width="48" height="48">
  </form>





