/* You can add global styles to this file, and also import other style files */

nav a{
     background-color: blue;
     padding: 0.5%;
     border-radius: 5px;
     margin: 1%;
     color: white;
     text-decoration: none;
 }

 nav a.active{
     color: #04bff0;
 }
